@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
  body {
    font-family: 'Raleway', sans-serif; /* Use the correct font-family property */
  }
  li {
    @apply px-4;
    @apply cursor-pointer; /* Fix the typo here (change cursor-pointerl to cursor-pointer) */
  }
}


.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
  background-position: center;
  height: 250px;
  
}

/* .content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.123),
    hsla(242,74%, 61%, 0.8)

  )!important;
} */